<div>
    <form action="filtre" method="post">
        <div class="row justify-content-center">
            {% set headers = csv_content[0]|keys %}
            {% for header in headers %}
                <div class="col-auto text-center">
                    <div class="form-group">
                        <label for="{{ header }}" class="font-weight-bold border rounded p-1" style="font-size: larger; margin: 10px; background-color:#e7f1ff;">{{ header }}</label>
                        <div class="form-check mb-2" style="margin: 10px;">
                            <input class="form-check-input" type="checkbox" name="checkbox_{{ header }}" id="checkbox_{{ header }}" style="margin: 10px;">
                            <label class="form-check-label" for="checkbox_{{ header }}" style="margin: 10px;">
                                Cocher pour activer
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="margin-top: 10px;">
                            <select class="form-control mr-2" name="select_{{ header }}" id="select_{{ header }}" style="margin-top: 10px;">
                                <option value="">Pas de filtre</option>
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                                <option value=">=">>=</option>
                                <option value="<="><=</option>
                                <option value="<>"><></option>
                                <option value="commence_par">Commence par</option>
                            </select>
                            <input type="text" class="form-control" name="input_{{ header }}" id="input_{{ header }}" style="margin-top: 10px;">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center" style="margin: 10px;">
            <button type="submit" class="btn btn-primary" style="margin: 10px;">Générer le fichier</button>
        </div>
        <input type="hidden" name="csv_content" value="{{ csv_content|json_encode }}">
    </form>
</div>
